* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  box-sizing: border-box;
  font-family: "Baloo 2", display;
  scroll-behavior: smooth;
}

:root{
  --bg-color :#B5C0D0;
  --second-bg-color :#F5E8DD;
  --main-color : rgb(220, 215, 215);
}



body {
  background-color: #F5E8DD;
  color: var(--white);
}

header {
  text-align: center;
  background-color: #B5C0D0;
  width: 100%;
  font-weight: bold;
  padding: 50px;
  top: 0;
}
header img {
  width: 160px;
  height: 80px;
  object-fit: contain;
  float: left;
  
}

.title {
  color: var(--green);
  border-bottom: 1px solid var(--white);
  display: inline-block; /* agar input search dan tombol submit tidak overlap */
  margin-right: 10px;
}

.input-search {
  width: 40%; /* ubah lebar menjadi 60% agar lebih luas */
  border: none;
  border-radius: 0 0 10px 0; /* ubah border radius agar sesuai dengan input search */
  padding: 5px; /* tambahkan sedikit padding */
  margin-right: 5px; /* tambahkan margin kanan agar terpisah dari tombol submit */
  background-color: #f9f2e6;
}

.input-submit {
  border: none;
  border-radius: 0 10px 0 0;
  padding: 5px 10px; /* tambahkan sedikit padding */
  background-color: var(--green);
  color: var(--blue);
  font-weight: bold;
}

nav {
  margin-top: 15px;
}

nav ul {
  display: flex;
  justify-content: center;
}

nav ul li {
  margin-right: 20px; /* tambahkan margin-right agar ada ruang antara setiap elemen */
}

nav ul li:last-child {
  margin-right: 0; /* hilangkan margin-right pada elemen terakhir */
}

nav ul li a {
  color: var(--white); /* ubah warna teks menjadi putih */
  border-bottom: 3px solid transparent; /* ubah border menjadi transparan */
}

nav ul li a:hover {
  border-bottom: 3px solid var(--green); /* tambahkan efek hover pada link */
}

table{
  background-color: #dde3ed;
  color: black;
  border :none;
  padding: 10px 20px;
  cursor: pointer;
  margin : 20px;
}


/* main css */

.content .content-header{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

.main img{
  width: 100%;
  object-fit: contain;
  border: 5px solid;
  border-radius: 10px;
}

.main .content-header{
  font-size: 25px;
  margin: 20px 0px 20px 0px;
  text-align: center;
  font-family: fantasy;
}


/* item css */

.item .judul{
  margin: 50px 0px 20px 0px;
  text-align: center;
}

.item-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap:2rem;
}

/* .item-container{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  align-items: center;
  gap:.0rem;
} */

.item .item-content{
  width: 250px;
  min-width: 100px;
  font-size: 10px;

}

.item .item-content img{
  width: 100%;
  object-fit: contain;
  border:2px solid black;
  border-radius: 10px;

}


/* footer css */

footer{
  bottom: 0;
  background-color: #B5C0D0;
  color: black;
  padding: 20px 20px;
  width: 100%;
  display: block;
  justify-content: space-between;
  align-items: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.footer-container {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.footer-section {
   margin-right: 30px;
}
.footer-section h3 {
  font-size: 1.2em;
}
.footer-section ul {
  list-style: none;
  padding: 0;
}
.footer-section ul li a {
  color: black;
  text-decoration: none;
  font-weight: bold;
}
.footer-section.address address {
   font-style: normal;
}
